<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing HTML page with NodeJs</title>
</head>
<body>
    <h1>Hello Developers . This is the homepage</h1>
</body>
</html>