<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        table{
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
            <th>Hobbies</th>
            <th>Job Description</th>
            <th>Pets</th>
        </tr>
  
        {% for user in users|slice(0, 5) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.hobbies }}</td>
            <td>{{ user.jobDescription }}</td>
            <td>{{ user.pets }}</td>
        </tr>
        {% else %}
        <td colspan="7">Sorry! No records found.</td>
        {% endfor %}
    </table>

    {% for i in 0..20 %}
       {{ i }}
    {% endfor %}
<br>
    {% for letter in 'a'..'z'%}
    {{ letter }}
    {% endfor %}
</body>
</html>